body {
  font-family: Arial;
  background: #111;
  color: white;
  text-align: center;
  margin: 0;
}

header {
  background: #0088cc;
  padding: 15px;
}

.banner {
  width: 100%;
  max-width: 728px;
  border-radius: 6px;
}

.headline {
  background: yellow;
  color: black;
  padding: 8px;
  font-weight: bold;
}

.box {
  margin-top: 15px;
}

input, button {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: none;
}

button {
  background: green;
  color: white;
  cursor: pointer;
}

.stats {
  margin: 10px;
}

.actions {
  margin: 10px;
}

.adbox img {
  width: 100%;
  max-width: 728px;
  border-radius: 5px;
}
