body {
  font-family: Arial;
  text-align: center;
  background: #111;
  color: white;
}

input, button {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: none;
}

button {
  background: green;
  color: white;
}
